# fly.toml app configuration file generated for binge-verse-react on 2026-02-07T16:24:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'binge-verse-react'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
